<div class="navbar-header">
                    <a class="navbar-brand" href="/dashboardPage_route">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/CLSU_Logo.png" alt="homepage" class="dark-logo" width="45px" />
                            <!-- Light Logo icon -->
                            <img src="assets/images/CLSU_Logo.png" alt="homepage" class="light-logo" width="45px" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="assets/images/CLSU_Logo.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="assets/images/CLSU_Logo.png" class="light-logo" alt="homepage" /></span> </a>
</div>