<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/HTMLhead_PAGEext %>
</head>

<body class="wp-menu skin-green-dark fixed-layout">
    <% include partials/Preloader_ext %>
    
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <% include partials/Logo %>

                <div class="navbar-collapse">
                    <% include partials/Toggle_ext %>
                    <ul class="navbar-nav my-lg-0">
                    <% include partials/Top_navbar %>
                    </ul>
                </div>
            </nav>
        </header>
        <% include partials/Sidebar %>

        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                             <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol> 
                        </div>
                    </div>
                </div>
                            
                <div class="row">
                <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                
                                <img src="/assets/images/fol.png" alt="PPMP folder">
                            </div>
                        </div>
                </div>

                <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                
                                <img src="/assets/images/fol.png" alt="PPMP folder">
                                    
                            </div>
                        </div>
                </div>

                <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                
                                <img src="/assets/images/fol.png" alt="PPMP folder">
                                    
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                
                                <img src="/assets/images/fol.png" alt="PPMP folder">
                                    
                            </div>
                        </div>
                </div>
                </div>

                <% include partials/Right_sidebar %>
            </div>
            
        </div>
        
    <% include partials/Footer %>
        
    </div>
    
    <% include partials/Other_plugins %>
</body>

</html>