<!DOCTYPE html>
<html lang="en">
<% include partials/HTMLhead_PAGEext %>

<body onload="loadPMRContent_FNCTN()" class="wp-menu skin-green-dark fixed-layout">
    <% include partials/Preloader_ext %>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <% include partials/Logo %>

                <div class="navbar-collapse">
                    <% include partials/Toggle_ext %>
                    <ul class="navbar-nav my-lg-0">
                        <% include partials/Top_navbar %>
                    </ul>
                </div>
            </nav>
        </header>

        <% include partials/Sidebar %>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">PMR</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="/dashboardPage_route">Home</a></li>
                                 <li class="breadcrumb-item"><a href="/PMRselectionPage_route">PMR</a></li>
                                 <li class="breadcrumb-item active">PMR Content</li>
                                 <!-- <li class="breadcrumb-item"><button onclick="yeah()">Yeah</button></li> -->
                            </ol>
                            <button type="button" class="btn btn-warning d-none d-lg-block m-l-15" data-toggle="modal" data-target="#AddpmrPOFormModal_id"><i class="fa fa-plus-circle"></i>Add PO</button>
                        </div>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <input type="hidden" id="PMRidPassedUsingURL">
                <div class="modal fade" id="AddpmrPOFormModal_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">New PO</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">PO No.</label>
                                        <input type="text" id="poNoInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Procurement Program/Project</label>
                                        <textarea name="" id="procProgOrProjTextarea_id" cols="30" rows="3" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">PMO/End-User</label>
                                        <textarea name="" id="pmoOrEnduserTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Mode of Procurement</label>
                                        <input type="text" id="procModeInput_id" class="form-control">
                                    </div>
                                    







                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Pre-Proc Conference</label>
                                        <input type="text" id="preProcConferenceInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Ads/Post of IB</label>
                                        <input type="text" id="adsOrPostOfIBInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Pre-bid Conf</label>
                                        <input type="text" id="preBidConfInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Eligibility Check</label>
                                        <input type="text" id="eligibilityCheckInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Sub/Open of Bids</label>
                                        <input type="text" id="subOrOpenOfBidsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Bid Evaluation</label>
                                        <input type="text" id="bidEvaluationInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Post Qual</label>
                                        <input type="text" id="postQualInput_id" class="form-control">
                                    </div>




                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Notice of Award</label>
                                        <input type="date" id="noticeOfAwardInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Contract Signing / Approve Purchase Order</label>
                                        <input type="date" id="contractSigningOrApprovePOInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">delivery terms (days)</label>
                                        <input type="number" id="deliveryTermsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Delivery/ Completion</label>
                                        <input type="date" id="deliveryOrCompletionInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">mode of payment</label>
                                        <input type="text" id="paymentModeInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Source of Funds</label>
                                        <input type="text" id="sourceOfFundsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">ABC (PhP) Total</label>
                                        <input type="number" id="abcTotalInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Contract Cost (PhP) Total</label>
                                        <input type="number" id="contractCostTotalInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Constructor / Supplier</label>
                                        <textarea name="" id="constructorOrSupplierTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">ITEM PURCHASE</label>
                                        <textarea name="" id="itemPurchaseTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Remarks (Explaining changes from the APP)</label>
                                        <select name="" id="remarksSelect_id" class="form-control">
                                            <option value="Awarded">Awarded</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="procActivityStatusDiv_id" style="display:none">
                                        <label for="recipient-name" class="control-label">Procurement Activity Status</label>
                                        <select name="" id="procActivityStatusSelect_id" class="form-control">
                                            <option value="COMPLETED">COMPLETED</option>
                                            <option value="ON-GOING">ON-GOING</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="addNewPO_FNCTN()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="UpdatePOFormModal_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">Update PO</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">PO No.</label>
                                        <input type="text" id="UpdatepoNoInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Procurement Program/Project</label>
                                        <textarea name="" id="UpdateprocProgOrProjTextarea_id" cols="30" rows="3" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">PMO/End-User</label>
                                        <textarea name="" id="UpdatepmoOrEnduserTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Mode of Procurement</label>
                                        <input type="text" id="UpdateprocModeInput_id" class="form-control">
                                    </div>
                                    







                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Pre-Proc Conference</label>
                                        <input type="text" id="UpdatepreProcConferenceInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Ads/Post of IB</label>
                                        <input type="text" id="UpdateadsOrPostOfIBInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Pre-bid Conf</label>
                                        <input type="text" id="UpdatepreBidConfInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Eligibility Check</label>
                                        <input type="text" id="UpdateeligibilityCheckInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Sub/Open of Bids</label>
                                        <input type="text" id="UpdatesubOrOpenOfBidsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Bid Evaluation</label>
                                        <input type="text" id="UpdatebidEvaluationInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Post Qual</label>
                                        <input type="text" id="UpdatepostQualInput_id" class="form-control">
                                    </div>




                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Notice of Award</label>
                                        <input type="date" id="UpdatenoticeOfAwardInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Contract Signing / Approve Purchase Order</label>
                                        <input type="date" id="UpdatecontractSigningOrApprovePOInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">delivery terms (days)</label>
                                        <input type="number" id="UpdatedeliveryTermsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Delivery/ Completion</label>
                                        <input type="date" id="UpdatedeliveryOrCompletionInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">mode of payment</label>
                                        <input type="text" id="UpdatepaymentModeInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Source of Funds</label>
                                        <input type="text" id="UpdatesourceOfFundsInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">ABC (PhP) Total</label>
                                        <input type="number" id="UpdateabcTotalInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Contract Cost (PhP) Total</label>
                                        <input type="number" id="UpdatecontractCostTotalInput_id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Constructor / Supplier</label>
                                        <textarea name="" id="UpdateconstructorOrSupplierTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">ITEM PURCHASE</label>
                                        <textarea name="" id="UpdateitemPurchaseTextarea_id" cols="30" rows="2" class="form-control">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Remarks (Explaining changes from the APP)</label>
                                        <select name="" id="UpdateremarksSelect_id" class="form-control">
                                            <option value="Awarded">Awarded</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="UpdateprocActivityStatusDiv_id" style="display:none">
                                        <label for="recipient-name" class="control-label">Procurement Activity Status</label>
                                        <select name="" id="UpdateprocActivityStatusSelect_id" class="form-control">
                                            <option value="COMPLETED">COMPLETED</option>
                                            <option value="ON-GOING">ON-GOING</option>
                                        </select>
                                        <input type="hidden" id="POToBeUpdated_id">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="updatePO_FNCTN()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    
                    <div class="col-12">
                            <div class="card border-dark" id="pmr-print">
                                    <div class="card-header bg-dark" id="PMRblackheader">
                                        <h4 class="m-b-0 text-white" id="PMRdataHereinCardHeader">PMR data here</h4></div>
                                    <div class="card-body">
                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: right"><img src="assets/images/CLSU_Logo.png" alt="" class="img-circle" style="width:150px; height:150px"></div>
                                            
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div class="text-left">
                                                                    <small><strong><p class="font-weight-bold">REPUBLIC OF THE PHILIPPINES</p></strong></small>
                                                                <h4 class="font-weight-bold">CENTRAL LUZON STATE UNIVERSITY</h4>
                                                                <h6 class="font-italic">SCIENCE CITY OF MUÑOZ, NUEVA ECIJA 3120</h6>
                                                                <br>
                                                                <h3 class="font-weight-bold" id="SemesterOnPMRContentdisplayElement">PROCUREMENT MONITORING REPORT 
                                                                    <!-- <a href="javascript:void(0)" id="inline-date" data-type="text" data-pk="1" data-title="Enter date" class="text-success"></a> -->
                                                                </h3>  
                                                                <h5 class="font-weight-bold" id="PMRdateOnPMRContentDisplayElement">Date here</h5>
                                                            </div>
                                                    </div>
                                            </div>
                                            <br>
                                            <br>
                                            
                                            <div style="display:none" class="row" id="ProgramLabelOnPmrContentDisplayElement1">
                                                <div class="col-12">
                                                    <h4 id="ProgramLabelOnPmrContentDisplayElement2" style="font-weight:bold">Program here</h4>
                                                </div>
                                            </div>
                            
                                            <div class="table-responsive m-t-40" style="margin-top:0px">
                                                <table id=""
                                                border="1"
                                                    cellspacing="0" width="100%">
                                                    <thead>
                                                           
                                                        <tr class="text-center">
                                                            
                                                            <th rowspan="2" style="vertical-align:middle" class="certainelements"><b>ALTERATION</b></th>
                                                            <th rowspan="2" style="vertical-align:top">PO No</th>
                                                            <th rowspan="2" style="vertical-align:top">Procurement Program/Project</th>
                                                            <th rowspan="2" style="vertical-align:top">PMO/End-User</th>
                                                            <th rowspan="2" style="vertical-align:middle" > Mode of Procurement</th>
                                                            <th colspan="12" style="text-align:center">Actual Procurement Activity</th>
                                                            <th rowspan="2">Source of Funds</th>
                                                            <th>ABC (PhP)</th>
                                                            <th>Contract Cost (PhP)</th>
                                                            <th rowspan="2">Constructor / Supplier</th>
                                                            <th></th>
                                                            <th rowspan="2">Remarks (Explaining changes from the APP)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Pre-Proc Conference</td>
                                                            <td>Ads/Post of IB</td>
                                                            <td>Pre-bid Conf</td>
                                                            <td>Eligibility Check</td>
                                                            <td>Sub/Open of Bids</td>
                                                            <td>Bid Evaluation</td>
                                                            <td>Post Qual</td>
                                                            <td>Notice of Award</td>
                                                            <td>Contract Signing / Approve Purchase Order</td>
                                                            <td>delivery terms</td>
                                                            <td>Delivery/ Completion</td>
                                                            <td>mode of payment</td>
                                                            <td>Total</td>
                                                            <td>Total</td>
                                                            <td>ITEM PURCHASE</td>
                                                        </tr>
                                                                
                                                    </thead>
                                                    <tbody id="POsTableBody_id">
                                                    </tbody>
                                                    
                                                </table>
                                                <br>
                                                <div class='certainelements'>
                                                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary" data-toggle="modal" data-target="#TransmitPOwindow" onclick="checkCheckedBoxes()">Transfer PO to another PMR</button>

                                                </div>
                                                                                                <br><br><br>
                                                <!-- <table border="1" style="display:none" id="QuarterSummary">
                                                        
                                                                <tr>
                                                                    <td style="font-style:italic">TOTAL PROCUREMENT ACTIVITIES(Shopping)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">TOTAL Procurement Activities (Negotiated)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">TOTAL Amount of Approved Budget for the Contract (Shopping)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">TOTAL Amount of Approved Budget for the Contract (Negotiated)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">TOTAL Cost for the Contract (Shopping)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">TOTAL Cost for the Contract (Negotiated)</td>
                                                                    <td></td>
                                                                    <td style="font-style:italic">Item Delivered in terms of PO</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                        <td style="font-style:italic">TOTAL Procurement Services Activities</td>
                                                                        <td></td>
                                                                        <td style="font-style:italic">Awarded Contract in terms of P.O</td>
                                                                        <td></td>
                                                                        <td style="font-style:italic">TOTAL Amount of Approved Budget for the Contract (PS)</td>
                                                                        <td></td>
                                                                        <td style="font-style:italic">TOTAL Cost for the Contract (PS)</td>
                                                                        <td></td>
                                                                        <td colspan="2" style="font-style:italic">Grand Total of Approved Budget of the Contract</td>
                                                                        <td></td>
                                                                        <td colspan="2" style="font-style:italic">Grand Total of Contract Cost</td>
                                                                        <td></td>
                                        
                                                                    </tr>
                                                </table> -->
                                            </div>
                                            <br><br>
                                            <div class="text-center">
                                                <p style="font-size:12px;" class="d-flex justify-content-around">
                                                    <span>Prepared by:</span>
                                                    <span>Recommending approval:</span>
                                                    <span>Approved by:</span>
                                                </p>
                                                
                                                <h4 class="d-flex justify-content-around text-center">
                                                       <!-- <span><a href="javascript:void(0)" class="text-dark" id="inline-prepared-by" data-type="text" data-pk="1" data-title="Prepared by:">End-User</a></span>
                                                       <span><a href="javascript:void(0)" class="text-dark" id="inline-recommending-approval" data-type="text" data-pk="1" data-title="recommending approval">MELISSA A. AGULTO</a></span>
                                                       <span><a href="javascript:void(0)"  class="text-dark" id="inline-approved-by" data-type="text" data-pk="1" data-title="Approved by:">TERESO A. ABELLA</a></span> -->
                                                       <span id="viewPPMP-EUname_id">RONNIE L. GUTIERREZ</span>
                                                       <span id="viewPPMP-EUname_id">EMMANUEL V. SICAT</span>
                                                       <span id="viewPPMP-EUname_id">TERESO A. ABELLA</span>
                                                </h4>
                
                                                <p style="font-size:12px; font-weight: bold;" class="d-flex justify-content-around">
                                                    <!-- <span><a href="javascript:void(0)" class="text-dark" id="inline-prepared-by-position" data-type="text" data-pk="1" data-title="Prepared by:">END-USER</a></span>
                                                    <span><a href="javascript:void(0)"  class="text-dark" id="inline-recommending-approval-position" data-type="text" data-pk="1" data-title="recommending approval">VP for Academic Affairs</a></span>
                                                    <span><a href="javascript:void(0)"  class="text-dark" id="inline-approved-by-position" data-type="text" data-pk="1" data-title="Approved by:">University President</a></span> -->
                                                    <span id="viewPPMP-EUpos_id">BAC, Head Secretariat</span>
                                                    <span id="viewPPMP-EUpos_id">BAC, CHAIRMAN</span>
                                                    <span id="viewPPMP-EUpos_id">UNIVERSITY PRESIDENT</span>
                                                </p>
                                            </div>
                                    </div>
                                </div>
                    </div>
                </div>

            


                <div class="row">
                    <div class="card">
                           
                            <div id="SetPOenduserModal_id" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:orange">
                                            <h4 class="modal-title" id="myLargeModalLabel">Set PO End-User</h4>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">

                                        <div class="card">
                                        <div class="card-body">
                                        <form class="app-search d-none d-md-block d-lg-block">
                                            <input type="text" class="form-control border" id="SearchEndUserSearchBar" placeholder="Search" onkeyup="filterEndUser_FNCTN()">
                                            <!-- <a href="javascript:void(0)" onclick="filterEndUser_FNCTN()"><i class="ti ti-search" style="font-size:20px; margin-left:5px;"></i></a> -->
                                        </form>
                                        <table class="table-bordered" id="End-UsersTable">
                                            
    
                                        </table>

                                        </div>
                                    </div>  

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>   
                    </div> 
            </div>

            <div id="ViewPOenduserModal_id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Assigned End-User</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4" style="text-align:right">
                                        <p>Name:</p>
                                    </div>
                                    <div class="col-md-8" style="text-align:left">
                                        <h4 id="ViewPOenduserName"></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align:right">
                                        <p>Position:</p>
                                    </div>
                                    <div class="col-md-8" style="text-align:left">
                                        <h4 id="ViewPOenduserPosition"></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align:right">
                                        <p>Agency:</p>
                                    </div>
                                    <div class="col-md-8" style="text-align:left">
                                        <h4 id="ViewPOenduserMain"></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align:right">
                                        
                                    </div>
                                    <div class="col-md-8" style="text-align:left">
                                        <h4 id="ViewPOenduserSub"></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align:right">
                                        
                                    </div>
                                    <div class="col-md-8" style="text-align:left">
                                        <h4 id="ViewPOenduserExt"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                


              
                <div class="row">
                    <div class="card">
                           
                            <div id="TransmitPOwindow" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:cornflowerblue">
                                            <h4 class="modal-title" id="myLargeModalLabel">Select PMR to be transferred to</h4>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">

                                        <div class="card">
                                        <div class="card-body">
                                        <form class="app-search d-none d-md-block d-lg-block">
                                            <input type="text" class="form-control border" id="SearchEndUserSearchBar" placeholder="Search" onkeyup="filterEndUser_FNCTN()">
                                            <!-- <a href="javascript:void(0)" onclick="filterEndUser_FNCTN()"><i class="ti ti-search" style="font-size:20px; margin-left:5px;"></i></a> -->
                                        </form>
                                        <table class="table-bordered" id="pmrsTableforPOtransfer">
                                            
    
                                        </table>

                                        </div>
                                    </div>  

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>   
                    </div> 
            </div>

               
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            
        </div>
    </div>
    <br><br>
    
    <% include partials/Footer %>
    </div>

    <div class="st-actionContainer right-bottom">
        <div class="st-btn-container right-bottom">
            <div class="st-button-main"><i class="fas fa-download" id="pdfDownloaderPMR" aria-hidden="true"></i></div>
        </div>
    </div>


    <% include partials/Other_plugins %>
    <script src="./controller/PMR2nd_CONTROLLER.js"></script>
    <script src="./controller/PMR3rd_CONTROLLER.js"></script>
    <script src="./controller/POenduserSelection_CONTROLLER.js"></script>
    <!-- <script src="./controller/usersManagement_CONTROLLER.js"></script>
    <script src="./SomeAssetsNo1/SomeDeveloperDefinedjs/usersmanagement_SCRIPT.js"></script> -->
    <script src="assets/node_modules/sweetalert/sweetalert.min.js"></script>
    <script src="assets/node_modules/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="./SomeAssetsNo1/SomeDeveloperDefinedjs/someGlobalFunctionsNo1.js"></script>
    <link href="../assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/floating_button_notif/css/st.action-panel.css">
    <link rel="stylesheet" type="text/css" href="/dist/waiting_js/waiting.css">
    
    <!--   -->
    <!-- <script src="./SomeAssetsNo1/SomeDeveloperDefinedjs/jquery-3.3.1.js"></script> -->
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="/dist/floating_button_notif/js/st.action-panel.js"></script>
    <script src="/dist/waiting_js/jquery.waiting.js"></script>
    <script src="/dist/waiting_js/jquery.waiting.min.js"></script>
    <script>
        $(document).ready(function(){
            $('st-actionContainer').launchBtn( { openDuration: 500, closeDuration: 300 } );
        });
    </script>
    <script>
    $(document).ready(function(){

	$("#pdfDownloaderPMR").click(function(){
        hideCertainElements();
        var height = $( '#pmr-print' ).height();
        var width = $( '#pmr-print' ).width();
        total_height = ( height * 25.4 ) / 96;
        total_width = ( width * 25.4 ) / 96;
        html2canvas(document.getElementById("pmr-print"), {
            onrendered: function(canvas) {
                var imgData = canvas.toDataURL('image/png');
                var doc = new jsPDF('l', 'mm', [total_height, total_width]);
                doc.addImage(imgData, 'PNG', -1, -4);
                doc.save('PMR.pdf');
            }
        });

	});
	
	function hideCertainElements(){
        document.getElementById("PMRblackheader").style.display = "none";
        // [].forEach.call(document.querySelectorAll('.pmr-print'), function (el) )
    }
});

    </script>
</body>

</html>