<!DOCTYPE html>
<html lang="en"> 
    <div id="ppmp-print">
<head>
    <link href="dist/css/pages/login-register-lock.css" rel="stylesheet">
        
        <link href="assets/node_modules/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

        <link href="assets/node_modules/morrisjs/morris.css" rel="stylesheet">
        <link href="dist/css/pages/dashboard1.css" rel="stylesheet">

        <link href="dist/css/pages/error-pages.css" rel="stylesheet">

        <link href="dist/css/pages/floating-label.css" rel="stylesheet">

        <link href="assets/node_modules/typeahead.js-master/dist/typehead-min.css" rel="stylesheet">

        <link href="assets/node_modules/tablesaw-master/dist/tablesaw.css" rel="stylesheet">


        <link href="assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/node_modules/switchery/dist/switchery.min.css" rel="stylesheet" />
        <link href="assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
        <link href="assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link href="assets/node_modules/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="assets/node_modules/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

        <link href="dist/css/pages/tab-page.css" rel="stylesheet">
        <link href="dist/css/pages/icon-page.css" rel="stylesheet">
        <link href="assets/node_modules/icheck/skins/all.css" rel="stylesheet">
        <link href="dist/css/pages/form-icheck.css" rel="stylesheet">
        <link href="assets/node_modules/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="assets/node_modules/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
        <link href="dist/css/pages/tab-page.css" rel="stylesheet">

        <link href="assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="dist/css/pages/ribbon-page.css" rel="stylesheet">

    <link href="../assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="../assets/node_modules/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    

<link href="../assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../assets/node_modules/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../assets/node_modules/jquery-asColorPicker-master/dist/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="../assets/node_modules/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/floating_button_notif/css/st.action-panel.css">
    <link rel="stylesheet" type="text/css" href="/dist/waiting_js/waiting.css">

<!--
    <style>
    body{
        zoom: 90%;
    }
    </style>
-->
</head>

<body class="">
    <div id="">
        <div>
        
            <div class="">

        


            <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                   <small><strong><p class="font-weight-bold">Republic of the Philippines</p></strong></small>
                                    <h4 class="font-weight-bold">CENTRAL LUZON STATE UNIVERSITY</h4>
                                    <h6 class="font-italic">Science City of Munoz, Nueva Ecija</h6>
                                    <h3 class="font-weight-bold">PROJECT PROCUREMENT MANAGEMENT PLAN 
                                        <a style="all: initial; pointer-events:none; font-size:24px; font-family: 'Poppins', sans-serif" class="font-weight-bold" href="javascript:void(0)" id="inline-date"></a>
                                    </h3>
                                    
                                <table style="clear: both;" class="table table-bordered table-striped" id="user">
                                    <thead>
                                        <tr>

                                            <th width="35%"><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)"  class="font-weight-bold" class="text-dark" id="inline-trade-mark-1" data-type="text" data-pk="1" data-title="Enter trade mark"></a></th>
                                            <th width="35%"><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)"  class="font-weight-bold" href="javascript:void(0)" class="text-dark" id="inline-trade-mark-2" data-type="text" data-pk="1" data-title="Enter trade mark"></a></th>
                                            <th width="35%"><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)"  class="font-weight-bold" href="javascript:void(0)" class="text-dark" id="inline-trade-mark-3" data-type="text" data-pk="1" data-title="Enter trade mark"></a></th>
                                
                                        </tr>
                                    </thead>
                                        <tr>
                                            <td width="25%" class="float-left">Fund</td>
                                            <td width="75%" class="float-left"><a  style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)" class="text-dark" id="inline-fund" data-type="text" data-pk="1" data-title="Enter fund">GAA (101)</a></td>
                                        </tr>
                                        <tr>
                                            <!-- <td width="35%"><a href="javascript:void(0)" class="text-dark" id="inline-paps" data-type="text" data-pk="1" data-title="Enter paps">Projects, Programs and Activities (PAPs)</a></td> -->
                                            <td width="35%">Projects, Programs and Activities (PAPs)</td>
                                        </tr>
                                </table>

                                <table class="tablesaw table-striped table-hover table-bordered table" style="margin-top:-1%;">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col>Code</th>
                                            <th scope="col" data-tablesaw-sortable-col>General Description</th>
                                            <th scope="col" data-tablesaw-sortable-col>Units</th>
                                            <th scope="col" data-tablesaw-sortable-col>Unit Price</th>
                                            <th scope="col" data-tablesaw-sortable-col>Size</th>
                                            <th scope="col" data-tablesaw-sortable-col>Estimated Budget</th>
                                            <th scope="col" data-tablesaw-sortable-col>Mode of Procurement</th>
                                            <th scope="col" data-tablesaw-sortable-col>1st Quarter</th>
                                            <th scope="col" data-tablesaw-sortable-col>2nd Quarter</th>
                                            <th scope="col" data-tablesaw-sortable-col>3rd Quarter</th>
                                            <th scope="col" data-tablesaw-sortable-col>4th Quarter</th>
                                            <th scope="col" data-tablesaw-sortable-col>Note</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pppmp-item-content">
                                    </tbody>

                                </table>




                                <table border='1'>
                                    <tr>
                                        <td colspan="2">TOTAL BUDGET:</td>
                                        <td>-----------</td>
                                        <td>-----------</td>
                                        <td id="ppmpTotalBudgetTabledata_id"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">+ 10% Provision for Inflation</td>
                                        <td>-----------</td>
                                        <td>-----------</td>
                                        <td id="ppmpProvisionForInflationTabledata_id"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">+ 10% Contingency  </td>
                                        <td>-----------</td>
                                        <td>-----------</td>
                                        <td id="ppmpContingencyTabledata_id"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">TOTAL ESTIMATED BUDGET:    </td>
                                        <td>-----------</td>
                                        <td>-----------</td>
                                        <td id="ppmpTotalEstimBudTabledata_id"></td>
                                    </tr>
                                </table>

                                <p style="font-size:12px;" class="d-flex justify-content-around">
                                    <span>Prepared by:</span>
                                    <span>Recommending approval:</span>
                                    <span>Approved by:</span>
                                </p>

                                <h4 class="d-flex justify-content-around text-center">
                                       <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)" class="text-dark" id="inline-prepared-by" data-type="text" data-pk="1" data-title="Prepared by:">End-User</a></span>
                                       
                                       <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)" class="text-dark" id="inline-recommending-approval" data-type="text" data-pk="1" data-title="recommending approval">MELISSA A. AGULTO</a></span>
                                       <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)"  class="text-dark" id="inline-approved-by" data-type="text" data-pk="1" data-title="Approved by:">TERESO A. ABELLA</a></span>
                                </h4>

                                <p style="font-size:12px; font-weight: bold;" class="d-flex justify-content-around">
                                    <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)" class="text-dark" id="inline-prepared-by-position" data-type="text" data-pk="1" data-title="Prepared by:">END-USER</a></span>
                                   
                                    <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)"  class="text-dark" id="inline-recommending-approval-position" data-type="text" data-pk="1" data-title="recommending approval">VP for Academic Affairs</a></span>
                                    <span><a style="all: initial; pointer-events:none; font-size:15px; font-family: 'Poppins', sans-serif" href="javascript:void(0)" href="javascript:void(0)"  class="text-dark" id="inline-approved-by-position" data-type="text" data-pk="1" data-title="Approved by:">University President</a></span>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="st-actionContainer right-bottom">
        <div class="st-btn-container right-bottom">
            <div class="st-button-main"><i class="fas fa-download" id="pdfDownloader" aria-hidden="true"></i></div>
        </div>
    </div>
    <% include partials/Other_plugins %>
    <script src="controller/ppmp_view_CONTROLLER.js?v=19"></script>
    <script src="controller/ppmp_view_item_CONTROLLER.js?v=21"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="/dist/floating_button_notif/js/st.action-panel.js"></script>
    <script src="/dist/waiting_js/jquery.waiting.js"></script>
    <script src="/dist/waiting_js/jquery.waiting.min.js"></script>
    <script>
        $(document).ready(function(){
            $('st-actionContainer').launchBtn( { openDuration: 500, closeDuration: 300 } );
        });
    </script>
    <script>
    $(document).ready(function(){

	$("#pdfDownloader").click(function(){
        var height = $( '#ppmp-print' ).height();
        var width = $( '#ppmp-print' ).width();
        total_height = ( height * 25.4 ) / 96;
        total_width = ( width * 25.4 ) / 96;
        html2canvas(document.getElementById("ppmp-print"), {
            onrendered: function(canvas) {
                var imgData = canvas.toDataURL('image/png');
                var doc = new jsPDF('l', 'mm', [total_height, total_width]);
                doc.addImage(imgData, 'PNG', -1, -4);
                doc.save('PPMP.pdf');
            }
        });

	});
	
	
})

    </script>
</body>


</html>